{% extends 'base.html' %}

{% block content %}
{% if post_creator == request.user or request.user.is_superuser or perms.myapp.can_make_flutter_effect %}
<p><a href="{% url 'post_edit' post.pk %}">+ Edit Post</a></p>
<p><a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a></p>
{% endif %}
<div class="post-entry">
    <h3>
        {{ post.title }}
        {% if request.user.is_superuser %}
        <small style="color: grey; font-size:12px">Created by: {{post.user}}</small>
        {% endif %}
    </h3>

    <!-- <h2>{{ object.title }}</h2> garda ni hunxa -->
    <p>{{ post.body }}</p>
</div>
{% endblock content %}